.CAirportForm
  min-width 220mm

  .header
    h1 
      font-weight normal
      color #92130b
      margin-bottom 0.3em

    .params
      .param
        display inline-block

        .paramName 
          color grey
          margin-right 0.3em

        .paramName 
          color grey

      .param:not(:last-child)
        margin-right 3em
  
  hr
    border none
    color #CECECE
    background-color #CECECE
    height 1px
    margin-bottom 8mm

  .body
    .row
      width 100%
      margin-bottom 1.5em

      .leftColumn
        width 20%
        display inline-block
        margin-right 1em
        text-align right
        vertical-align top
      
      .rightColumn
        width 70%
        display inline-block

        .valueContainer
          width 80%

          .nameValue
            margin-bottom 0.5em

          .natureNameValue
            display flex

            input
              flex-basis 40mm
              margin-right 0.5em

            select
              flex-grow 1
              flex-shrink 0

        .referenceValue
          margin-bottom 0.5em

          > div, button
            display inline-block

          > button
            background none
            border none
            outline none
            cursor pointer

  span.required
    color red

  .submitBtn
    cursor pointer
    outline none
    background-color #92130b
    color white
    font-weight bold
    padding 0.5em 2em